
/*===================================================================================*/
/*  TABLET PORTRAIT                                                                  */
/*===================================================================================*/

    @media only screen and (min-width : 690px) and (max-width : 1000px) {

        .menu { display: none; }
        .mobile-btn { display: table-cell; }
        .slide { width: auto; }

        .stats { width: 49.7%; margin-bottom: 30px; }

        .pricetable { width: 100% !important; margin-bottom: 60px; }
        .pricetable:last-child { margin-bottom: 0 !important; }

        .contact-form [class*="btn-"] { width: 100%; }

        .parallax [class*="span"].last { margin-bottom: 0; }
        .parallax .container { padding: 50px 0; }

        .project-details li { width: 50%; margin-bottom: 30px; }
        .single-portfolio .container { padding-bottom: 30px; }

        #footer { text-align: center; padding: 25px 0 20px 0 ; }
        #footer .logo { float: none; display: block; margin-bottom: 20px; }
        #footer p { display: block; margin-bottom: 20px; }
        #footer .social { float: none; margin-top: 0; display: inline-block; }

    }



/*===================================================================================*/
/*  MOBILE LANDSCAPE                                                                 */
/*===================================================================================*/

    @media only screen and (max-width : 690px) {

        .menu { display: none; }
        .mobile-btn { display: table-cell; }
        .nav { padding: 0px 25px; }


        .home-wrapper .slider-text h1 {
            font-size: 40px;
            font-weight: 700;
            padding: 20px 0;
        }

        .home-wrapper .slider-text h1.secondary {
            font-size: 28px;
        }

        .home-btn {
            /*width: 100px;
            height: 100px;
            line-height: 100px;*/
            letter-spacing: 0;

        }

        .parallax .container { padding: 50px 0; }

        #filtrable a { margin-bottom: 5px; }

        .stats { width: 100%; margin-bottom: 30px; }

        .pricetable { width: 100% !important; margin-bottom: 60px; }
        .pricetable:last-child { margin-bottom: 0 !important; }

        .project-details li { width: 100%; margin-bottom: 30px; }
        .single-portfolio .container { padding-bottom: 30px; }

        .clients a { margin-left: 0px; margin-right: 0px;  width: 100%; }

        .contact-form [class*="btn-"] { width: 100%; }

        #footer { text-align: center; padding: 25px 0 20px 0 ; }
        #footer .logo { float: none; display: block; margin-bottom: 20px; }
        #footer p { display: block; margin-bottom: 20px; }
        #footer .social { float: none; margin-top: 0; display: inline-block; }

    }
